.ant-btn-primary {
    font-weight: 600;
    text-shadow: unset;
}

.ant-btn-background-ghost {
    font-weight: unset;
}

.anticon {
    visibility: hidden;
}

.theme-antdocs-content:not(.custom) {
    font-size: 1.25rem;

    img {
        max-width: 400px;
    }
}

@media (max-width: 767px) {
    .nav-button .anticon {
        visibility: visible;
    }
}

.home .hero .hero-logo {
    max-height: 450px !important;
    margin: 2.5rem auto 1.5rem !important;
}

.home .hero .description {
    max-width: unset !important;
    font-size: 1.3rem !important;
    line-height: 1.3;
    color: #111111 !important;
    letter-spacing: 1px !important;
}

.home {
    table, th, td {
        border: none;
    }

    thead, tr{
        border: none;
    }

    td {
        font-size: x-large;
    }

    td:nth-child(even) {
        padding-left: 1rem;
    }

    th, td {
        padding: 0 0 1.5rem 0;
    }

    tr {
        vertical-align: top;
    }

    thead {
        display: none;
    }

    /* 去掉表格隔行背景色 */
    table tr:nth-child(even) {
        background-color: transparent !important;
    }

    h1 {
        text-align: center;
        font-weight: 800;
        font-size: 3.5rem !important;
        color: #222 !important;
    }

    .faq {
        h3 {
            font-size: 1.4rem;
        }
        p {
            font-size: 1.1rem;
            color: #333 !important;
        }
    }

    *:not(.feature) > h2 {
        text-align: center;
        font-weight: 800;
        font-size: 3rem !important;
        color: #222 !important;
    }

    .feature {
        h2 {
            font-size: 1.6rem !important;
            font-weight: 600 !important;
        }
        p {
            font-size: 1.1rem !important;
            color: #444 !important;
        }
    }

    h4 {
        text-align: center;
        font-size: 1.2rem;
    }

    .header-anchor {
        display: none;
    }
}


* {
    font-family: 'Bricolage Grotesque', sans-serif;
}
